.footer {
  background-color: $btn-footer;
  border-bottom: 1px solid $border-line;
}

.footer__container {
  display: flex;
  padding: 24px 0;
}

.footer__logo {
  height: 48px;
}

.footer__nav ul{
  display: flex;
  justify-content: space-between;
}

.footer__nav li {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  letter-spacing: 0.1px;

  margin-left: 48px;
  padding-top: 12px;
}

.footer__contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
}

.footer__contact-item {
  margin-left: 49px;
}

.footer__phone-icon {
  margin-right: 7px;
}

.footer__address-icon {
  margin-right: 7px;
}
