.gallery {
  background-color: $mainbg-grey;
  min-height: 768px;
}

.gallery__container {
  padding-top: 33px;
}

.gallery__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 21px;

  margin-bottom: 45px;
}

.gallery__list {
  display: flex;
  flex-wrap: wrap;
}

.gallery__item {
  max-width: 300px;
  min-height: 328px;
  margin-bottom: 30px;
}

.gallery__item:not(:nth-child(4n)) {
  margin-right: 29px;
}
