.header {
  background-color: $mainbg-grey;
  border-bottom: 1px solid $border-line;
}

.header__container {
  display: flex;
  padding: 24px 0;
}

.header__logo {
  height: 48px;
}

.header__nav-list {
  display: flex;
  flex-wrap: wrap;
}

.header__nav-list li {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  letter-spacing: 0.1px;

  margin-left: 48px;
  padding-top: 12px;
}

.header__search {
  display: flex;
  margin-left: auto;
  min-width: 416px;
  align-self: flex-start;
  padding-left: 20px;
}

.header__search-input {
  min-width: 295px;
  padding: 14px 16px;
  padding-top: 11px;

  background-color: $mainbg-grey;
  border: 1px solid $border-line;
}

.header__search-input::placeholder {
  font-family: $font-basic;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $placeholder;
}

.header__search-input::-ms-input-placeholder {
  font-family: $font-basic !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 21px !important;
  color: $placeholder !important;
}

.header__search-btn {
  font-family: $font-basic;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: $btn-header;

  border: none;
  outline: none;
  padding: 13px 36px;
  background-color: $btn-search;
}

