.item {
  border: 1px solid $border-line;
}

.item__link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item__title {
  max-width: 230px;
  font-size: 18px;
  line-height: 27px;
  color: $main-text;
  margin-top: 14px;
  margin-bottom: 23px;
  letter-spacing: -0.3px;
}

.item__details {
  width: 100%;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
}

.item__price-new,
.item__price-old {
  margin: 0;
}

.item__price {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item__price-new {
  font-size: 16px;
  line-height: 24px;
}

.item__btn-buy {
  font-family: $font-basic;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;

  border: none;
  padding: 13px 27px;
  background-color: $btn-gallery;
  color: $btntext-gallery;
  cursor: pointer;
}

.item__btn-cart {
  display: none;

  font-family: $font-basic;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;

  border: none;
  padding: 13px 0;
  padding-left: 32px;
  padding-right: 9px;
  background-color: $btn-cart;
  color: $btntext-gallery;
  cursor: pointer;
}

.item__btn-cart::before {
  content: "";
  position: absolute;
  background: url('../images/tick.svg');
  width: 20px;
  height: 20px;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.item__price-old {
  display: none;
}

.item.item--sale .item__price-old {
  display: block;
  font-size: 14px;
  line-height: 21px;
  color: $text-oldprice;
}

.item.item--sale .item__price-old {
  text-decoration: line-through;
}

.item.item--sale .item__btn-buy {
  padding: 13px 30px;
}

.item.item--incart .item__btn-buy,
.item.item--sold .item__btn-buy,
.item.item--sold .item__btn-cart {
  display: none;
}

.item.item--incart .item__btn-cart {
  position: relative;
  display: block;
}

.item__sold {
  display: none;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  margin-top: 11px;
}

.item.item--sold .item__sold {
  display: block;
}

.item.item--sold {
  opacity: 0.5;
}
