body {
  font-family: $font-basic;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: $main-text;

  margin: 0;
  padding: 0;
}

html,
body {
  min-width: 320px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #141517;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;

  list-style: none;
}
