$mainbg-grey: #f6f3f3;
$main-text: #343030;
$text-footer: #555555;
$btntext-gallery: #f4f6f9;
$btn-gallery: #382e2b;
$btn-header: #ffffff;
$btn-footer: #eceaea;
$placeholder: #9f9f9f;
$text-oldprice: #a0a0a0;
$border-line: #e1e1e1;
$btn-search: #403432;
$btn-cart: #5b3a32;

// $black-opacity-07:  rgba(0, 0, 0, 0.7);


$font-basic: "Merriweather", "Open Sans", sans-serif;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
